<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="2">
	<test name="GoogleSearchFirst" parallel="methods" thread-count="5">
		<classes>
			<class name="com.search.tests.GoogleSearchFirst" />
		</classes>
	</test>	
	<test name="GoogleSearchSecond" parallel="methods" thread-count="5">
		<classes>
			<class name="com.search.tests.GoogleSearchSecond" />
		</classes>
	</test>	
</suite>